main h2 {
    font: bold 19px/19px "Roboto Condensed",sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}
main h4 {
    font-size: 22px;
    line-height: 24px;
    font-family: "Roboto Condensed",sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}
main p{
    font-size: 15px;
    line-height: 20px;
    font-family: Arial,Helvetica,sans-serif;
    color: #333;
}
.culture-travel h4{
    color: #272727;
    font: 20px/22px "Lora",serif;
}
.culture-travel p {
    font: 15px/20px "Helvetica Neue","Helvetica",Arial,sans-serif;
    color: rgba(39,39,39,.5);
    margin-bottom: 10px;
}
.culture-travel-category {
    display: inline-block;
    background-color: #c2d4d7;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    font: 300 13px/20px "Helvetica Neue","Helvetica",Arial,sans-serif;
}
.more-stories h4{
    font-size: 17px;
    line-height: 20px;
}
.more-stories p {
    font-size: 15px;
    line-height: 20px;
}
.pagination-img {
    width: 70px;
    height: 52px;
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 58px;
    text-indent: 5px;
    text-align: center;
    background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
    color: #e9212e;
}
.icon-n {
    position: relative;
    margin-right: 13px;
    display: block;
    width: 29px;
    height: 28px;
    background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
}
.icon-n::after {
    border-bottom: 3px solid red;
    border-right: 3px solid red;
    display: block;
    content: "";
    width: 26px;
    height: 25px;
    position: absolute;
    bottom: -4px;
    right: -4px;
}
.magazine {
    display: inline-block;
    padding: 0 7px;
    background-color: #f72210;
    color: white;
    margin-right: 7px;
    box-sizing: border-box;
    font: bold 16px/26px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
}
.magazine-category {
    display: inline-block;
    font: bold 16px/26px "Roboto Condensed",sans-serif;
    color: #f72210;
    text-transform: uppercase;
    box-sizing: border-box;
}
.see-all-features {
    display: block;
    background-color: #f4f5f6;
    color: black;
    text-align: center;
    margin-bottom: 0;
    padding: 10px 10px 10px 12px;
    font: bold 18px/18px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
}
.see-all-features::after {
    background-image: url(https://g.newsweek.com/www/images/icon-arrow-right-black.svg);
    content: "";
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-left: 10px;
}
.icon-play {
    font-size: 35px;
    width: 53px;
    height: 53px;
    line-height: 53px;
    background-color: #fd0100;
    color: white;
    text-align: center;
    display: block;
    font-family: "Genericons";
    cursor: pointer;
}
.font-fam {
    font-family: "Roboto Condensed",sans-serif;
}
.bg-dark-100 {
    background-color: black;
}
.font-s26 {
    font-size: 26px;
    line-height: 34px;
}
.font-s18 {
    font-size: 18px;
    line-height: 20px;
}
.font-s16 {
    font-size: 16px;
    line-height: 24px;
    color: #c6c6c6;
}
.nw-conversation-img {
    width: 170px;
    height: 100%;
}