main h2 {
    font: bold 19px/19px "Roboto Condensed",sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}
main h4 {
    font-size: 22px;
    line-height: 24px;
    font-family: "Roboto Condensed",sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}
main p{
    font-size: 15px;
    line-height: 20px;
    font-family: Arial,Helvetica,sans-serif;
    color: #333;
}
.culture-travel h4{
    color: #272727;
    font: 20px/22px "Lora",serif;
}
.culture-travel p {
    font: 15px/20px "Helvetica Neue","Helvetica",Arial,sans-serif;
    color: rgba(39,39,39,.5);
    margin-bottom: 10px;
}
.culture-travel-category {
    display: inline-block;
    background-color: #c2d4d7;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    font: 300 13px/20px "Helvetica Neue","Helvetica",Arial,sans-serif;
}
.more-stories h4{
    font-size: 17px;
    line-height: 20px;
}
.more-stories p {
    font-size: 15px;
    line-height: 20px;
}
.pagination-img {
    width: 70px;
    height: 52px;
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 58px;
    text-indent: 5px;
    text-align: center;
    background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
    color: #e9212e;
}
.icon-n {
    position: relative;
    margin-right: 13px;
    display: block;
    width: 29px;
    height: 28px;
    background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
}
.icon-n::after {
    border-bottom: 3px solid red;
    border-right: 3px solid red;
    display: block;
    content: "";
    width: 26px;
    height: 25px;
    position: absolute;
    bottom: -4px;
    right: -4px;
}