body {
    background-color: #f4f5f6;
}
main{
    background-color: white;
}
li{
    display: inline;   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
}
.hole-container {
    max-width: 1310px;
    margin: 0 auto;
}
.well {
    min-height: 500px;
    border: 1px solid black;
}
.block-title {
    color: rgba(3,3,3,.4);
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    padding-bottom: 11px;
    padding-top: 11px;
}
.bottom-left {
    bottom: 0;
    left: 0;
}
.category {
    display: block;
    font: bold 17px/16px "Roboto Condensed",sans-serif;
    color: #f72210;
    text-transform: uppercase;
    padding: 8px 15px 9px;
    background-color: rgba(255,255,255,.9);
}
.bg-hole-page {
    background-color: #f4f5f6;
}
.hole-img-size {
    width: 100%;
}

@media screen and (min-width: 996px) {
    .newsweek-title-small, .nav-toggle-icon{
        display: none;
    }
}
@media screen and (max-width: 996px) and (min-width: 768px) {
    .newsweek-title, .header-date, nav.bg-light {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}
@media screen and (max-width: 768px) {
    .newsweek-title, .header-date, nav.bg-light {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}