body {
    background-color: #f4f5f6;
}
li{
    display: inline;   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.hole-container {
    max-width: 1310px;
    margin: 0 auto;
}

@media screen and (min-width: 996px) {
    .newsweek-title-small, .nav-toggle-icon{
        display: none;
    }
}
@media screen and (max-width: 996px) and (min-width: 768px) {
    .newsweek-title, .header-date, nav.bg-light {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}